<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/styles/styles-about.css">
</head>
<body>
    <section class="links">
        <li>
            <a class="link" href="/home">Home Page</a>
        </li>
        <li>
            <a class="link" href="/works">Works Page</a>
        </li>
    </section>

    <section>
        <div class="title">
            <h1>About Me</h1>
        </div>
        <hr class="line">
    </section>

    <br>

    <section>
        <div class="education">
            <h3>Education</h3>
        </div>
        
        <div class="table">
            <table>
                <tr>
                    <th>American School Of Brasília</th>
                    <th>Ironhack</th>
                </tr>

                <tr>
                    <td><img class="logo" src="/images/eab.webp" alt="EAB logo"></td>
                    <td><img class="logo" src="/images/ironhack.png" alt="Ironhack Logo"></td>
                </tr>

                <tr>
                    <td>Brasília, Brazil</td>
                    <td>Lisbon, Portugal</td>
                </tr>

                <tr>
                    <td>Primary and secondary education - elementary and high school</td>
                    <td>Higher education - Web Development Bootcamp</td>
                </tr>

                <tr>
                    <td>From August 2008 to May 2022</td>
                    <td>From April 10, 2023 to June 10, 2023</td>
                </tr>

            </table>
        </div>
    </section>

    
</body>
</html>