<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="home-page">
    <div>
        <img class="background" src="/images/background.png" alt="background texture">
    </div>
    
    <section id="title">
        <div class="title">
            <h1>Victoria Avelar</h1>
            <h3>Web Developer</h3>
            <br>
            <hr class="line">
            <p>achievements and academic background</p>

            <div class="links">
                <li>
                    <a href="/home">Home Page</a>
                </li>
                <li>
                    <a href="/about">About Page</a>
                </li>
        
                <li>
                    <a href="/works">Works Page</a>
                </li>
            </div>
        </div>

        <div>
            <img class="self-image" src="/images/random-image.JPG" alt="self image">
        </div>

    </section>

    <div>
        <img class="background" src="/images/background.png" alt="background texture">
    </div>
    </div>  
</body>
</html>