<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="/styles/styles-works.css" />
  </head>
  <body>
    <section class="links">
      <li>
        <a class="link" href="/home">Home Page</a>
      </li>
      <li>
        <a class="link" href="/about">About Page</a>
      </li>
    </section>

    <section>
      <div class="title">
        <h1>Works</h1>
      </div>
      <hr class="line" />
    </section>

    <section>
      <div class="game">
        <h3>Project 1: 2D Web Game</h3>
        <br />
      </div>

      <div class="game-explanation">
        <p>
          During Ironhack, we were instructed to develop our own game in
          partners, focusing on originality and functionality.
        </p>
        <p>
          Attached is the slides presention about my game and the link to play
        </p>
      </div>

      <hr class="line" />

      <div class="presentation">
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vRUGHgv__HNC9dlwMqT0VY-ypMm403WM7856EvQvgmvJIKq4W0UZqxxYIHPGdPPciJnOZg0ZboOeQVZ/embed?start=true&loop=true&delayms=3000"
          frameborder="0"
          width="960"
          height="569"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>

        <a
          href="https://avelarvicky.github.io/canvas-project-valorant2d/ 
        "
          >Play here!</a
        >
      </div>
    </section>
  </body>
</html>
