@import url(/public/styles/Montserrat/);

body {
    background-color: white;
    font-family: "Montserrat";
}

.links {
    display: flex;
    margin: 10px 0px 20px 0px;
    justify-content: center;
    list-style: none;
}

.link {
    padding: 0px 10px 0px 10px;
}

.title > h1 {
    color: black;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    margin: 0px;
}

.line {
    color: gray;
    width: 200px;
    position: relative;
}

.education > h3 {
    color: black;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

table, tr, td {
    width: 600px;
    border: 1px dotted gray;
    table-layout: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    width: 100px;
}

.table {
    display: flex;
    justify-content: center;
}

